@using System.ComponentModel
@implements IDisposable

@if (metadataTransferService.SelectedMetadata is not null)
{
    <title>@metadataTransferService.SelectedMetadata.Title</title>
    <PageTitle>@metadataTransferService.SelectedMetadata.Title</PageTitle>
    <meta name="keywords" content="@(string.Join(", ", metadataTransferService.SelectedMetadata.Keywords))" />
    <meta name="description" content="@(metadataTransferService.SelectedMetadata.Description)" />
    <meta name="author" content="@(metadataTransferService.SelectedMetadata.Author)" />
    <meta name="og:title" content="@(metadataTransferService.SelectedMetadata.SocialMediaCardTitle)" />
    <meta name="twitter:card" content="@(metadataTransferService.SelectedMetadata.SocialMediaCardTitle)" />
}

@code {

    [Inject]
    protected MetadataTransferService metadataTransferService { get; set; }

    protected override void OnInitialized()
    {
        metadataTransferService.PropertyChanged += OnMetadataChanged;
    }

    private void OnMetadataChanged(object sender, PropertyChangedEventArgs e) 
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        metadataTransferService.PropertyChanged -= OnMetadataChanged;
    }
}
