@page "/post/{id:guid}"
@using System.Web
@inherits PostViewerComponent

@if (_post is not null && !IsLoading)
{
    <PageTitle>@_post.Metadata.Title</PageTitle>
        <Container Fluid>
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">
                    <Heading Size="HeadingSize.Is1">@_post.Metadata.Title</Heading>
                </Column>
            </Row>
            <Row>
                <Column ColumnSize="ColumnSize.IsFull" Flex="Flex.JustifyContent.Between">
                    <Small TextColor="TextColor.Muted">@_post.Metadata.Author</Small>
                    @if (_post.Metadata.UpdatedAt != default!)
                    {
                    <Small TextColor="TextColor.Muted">
                        Written: @_post.Metadata.CreatedAt&nbsp;Edited: @_post.Metadata.UpdatedAt
                    </Small>
                    }
                    else
                    {
                    <Small TextColor="TextColor.Muted">
                        Written: @_post.Metadata.CreatedAt
                    </Small>
                    }
            </Column>
            </Row>
            <Anchor To="@($"post/update/{Id}")">Edit</Anchor>
            <Divider />
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">
                    <Paragraph>@_post.Metadata.Description</Paragraph>
                    <Heading Size="HeadingSize.Is6">Tags</Heading>
                    <Div Display="Display.Flex">
                    @foreach(var tag in _post.Metadata.Keywords)
                    {
                        <Badge Margin="Margin.Is1" Height="Height.Is100" Color="Color.Primary" Pill>@tag</Badge>
                    }
                    </Div>
                </Column>
            </Row>
        </Container>
        <Divider />
        <Container Fluid id="markdown-article-body">
            @((MarkupString)Markdig.Markdown.ToHtml(HttpUtility.HtmlDecode(_post.Content)))
        </Container>
}
else
{
    <Paragraph>Hang tight, we're getting your content...</Paragraph>
}